version: '3.8'
services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/aihub
      - SESSION_SECRET=supersecret
      - GOOGLE_CLIENT_ID=<google-client-id>
      - GOOGLE_CLIENT_SECRET=<google-client-secret>
